.center-buttons {
    margin: 2rem auto;
    width: 50%;
}

#products {
    border: 1px solid;
    border-radius: 20px;
    border-color: #68b0ab;
    height: 5rem;
}

.center-class {
    margin: auto;
    width: 20%;
}

#add-button {
    background-color: #056676;
    color: white;
}

#delete-button {
    background-color: #ea5455;
    color: white;
}

@media only screen and (max-width: 600px) {
    .space {
        margin-left: 10%;
    }
    .break {
        word-break: break-all;
    }
  }