<ngx-ui-loader
fgsType= "cube-grid"
fgsColor= "#ee6f57"
fgsSize = "160"
pbColor= "#ee6f57"
></ngx-ui-loader>

<mat-form-field style="margin-left: 2rem;">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
  </ng-container>

  <!-- Check Column -->
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let element;">
      <button type="button" class="close" aria-label="Close" style="color: red;"
      (click)="deleteProduct(element)">
      <span aria-hidden="true">&times;</span></button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[15, 30, 50, 80]"></mat-paginator>
<div class="center">
  <button class="btn" id="add-button" (click)="addProduct()">Add Product</button>
</div>
