input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.container {
  width: 40%;
  height: 50%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 70%;
  }
}

.alert-danger {
    background-color: #ea5455;
}

h4, p {
  color: #e5e5e5;
}


#add-button {
    background-color: #056676;
    color: white;
}