body {
    background-color: #ea5455;
}
.margin_button {
    margin-bottom: 1rem;
}

.custom-container {
    margin-left: 15%;
    margin-right: 15%;
    width: 60%;
    height: 100%;
}

.center {
    margin-top: 1rem;
    text-align: center;
}

.close:hover {
    border: 1px solid #ea5455;
}

#add-button {
    background-color: #056676;
    color: white;
}

#add-button:hover {
    background-color: #0c7d8f;
}

#delete-button {
    background-color: #ea5455;
    color: white;
}

#delete-button:hover {
    background-color: #f51b1c;
}
